@import './normalize.css';
/* Keyframe animation for appearing */
@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/* Keyframe animation for disappearing */
@keyframes fadeOutScale {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}
body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 44px;
}

.container1 {
  max-width: 1600px;
  margin: 0 auto;
}

.heading {
  font-size: 64px;
  font-weight: bold;
  margin: 0 0 0 0;
  text-align: center;
}

.line-after-heading {
  width: 700px;
  height: 2px;
  background-color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 0;
}

.list {
  display: grid;
  margin: 40px auto 0 auto;
  grid-template-columns: 1fr 1fr;
  justify-content: end;
  column-gap: 40px;
}

.list-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #FFFFFF;
  margin-bottom: 18px;
  padding-bottom: 18px;
}
.list-item h5 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}
.list-item p {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
}

.list-item-with-description {
  border-bottom: 1px solid #FFFFFF;
  margin-bottom: 18px;
  padding-bottom: 18px;
}
.list-item-with-description .list-item-description-inner {
  display: flex;
  justify-content: space-between;
}
.list-item-with-description .list-item-description-inner h5 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}
.list-item-with-description .list-item-description-inner p {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
}
.list-item-with-description p {
  margin: 10px 0 0 0;
  font-size: 16px;
  font-weight: 300;
}

.items-heading-contaiter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.items-heading-contaiter .heading {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.items-heading-contaiter .quantity {
  margin-left: auto;
  margin-bottom: auto;
  font-size: 20px;
  font-weight: 500;
}

.section-heading {
  color: #FFFFFF;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
.section-heading .section-heading-inner {
  padding: 25px 255px;
  border: 1px solid #FFFFFF;
}
.section-heading .section-heading-inner h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 36px;
}
.section-heading .section-heading-inner p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 18px;
  max-width: 355px;
}

header {
  position: sticky;
  top: 0;
  margin-top: 20px;
  background-color: #000000;
  z-index: 1000;
  /* MOBILE MENU */
}
header .header-inner {
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* NAV DESKTOP */
  /* BURGER */
}
header .header-inner .logo {
  width: 362px;
  height: 105px;
}
header .header-inner .nav-desktop ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 40px;
}
header .header-inner .nav-desktop ul li {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
}
header .header-inner .nav-desktop ul li a {
  text-decoration: none;
  color: #FFFFFF;
}
header .header-inner .burger-menu {
  padding-top: 1px;
  width: 30px;
  height: 20px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  display: none;
}
header .header-inner .burger-menu .line {
  line-height: 20px;
  display: block;
  box-sizing: border-box;
  height: 3px;
  background-color: rgb(153, 153, 153);
  border-radius: 3px;
  transition: all 0.3s ease;
  width: 100%;
}
header .header-inner .burger-menu .line1 {
  transform: rotate(0);
}
header .header-inner .burger-menu .line2 {
  transform: rotate(0);
}
header .header-inner .burger-menu.active .line1 {
  transform: rotate(45deg) translate(5px, 6px);
}
header .header-inner .burger-menu.active .line2 {
  transform: rotate(-45deg) translate(5px, -6px);
}
header .mobile-menu {
  list-style: none;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0;
  display: flex;
  text-align: center;
  flex-direction: column;
  row-gap: 20px;
}
header .mobile-menu li {
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: 500;
  animation: fadeInScale 0.5s ease forwards;
}
header .mobile-menu li a {
  text-decoration: none;
  color: #FFFFFF;
}
header .mobile-menu .disappearing {
  animation: fadeOutScale 0.3s ease forwards;
}

.drinks {
  margin-top: 20px;
  position: relative;
}
.drinks .drinks-section .shots {
  margin: 100px 0 80px 0;
  display: flex;
}
.drinks .drinks-section .shots img {
  width: 100%;
  max-width: 760px;
  height: 570px;
  object-fit: cover;
}
.drinks .drinks-section .shots .shots-items {
  margin: auto auto;
}
.drinks .drinks-section .shots .shots-items .rosado {
  font-size: 19px;
}
.drinks .drinks-section .whiskey {
  margin: 0 0 80px 0;
  display: flex;
  justify-content: end;
}
.drinks .drinks-section .whiskey img {
  width: 100%;
  max-width: 614px;
  height: 713px;
  object-fit: cover;
}
.drinks .drinks-section .whiskey .whiskey-items {
  margin: auto auto;
}
.drinks .drinks-section .beer {
  margin: 0 0 80px 0;
  display: flex;
}
.drinks .drinks-section .beer img {
  width: 100%;
  max-width: 625px;
  height: 683px;
  object-fit: cover;
}
.drinks .drinks-section .beer .beer-items {
  margin: auto auto;
}
.drinks .drinks-section .gin-tonic {
  margin: 0 0 80px 0;
  display: flex;
  justify-content: end;
}
.drinks .drinks-section .gin-tonic img {
  width: 100%;
  max-width: 733px;
  height: 733px;
  object-fit: cover;
}
.drinks .drinks-section .gin-tonic .gin-tonic-items {
  margin: auto auto;
}
.drinks .drinks-section .rum {
  margin: 0 0 80px 0;
  display: flex;
}
.drinks .drinks-section .rum img {
  width: 100%;
  max-width: 658px;
  height: 819px;
  object-fit: cover;
}
.drinks .drinks-section .rum .rum-items {
  margin: auto auto;
}
.drinks .drinks-section .rum .rum-items .list {
  grid-template-columns: 1fr;
  place-items: center;
}
.drinks .drinks-section .rum .rum-items .list .list-item {
  width: 330px;
}
.drinks .drinks-section .rum .rum-items .line-after-heading {
  margin-top: 20px;
}
.drinks .drinks-section .vodka {
  margin: 0 0 80px 0;
  display: flex;
}
.drinks .drinks-section .vodka img {
  width: 100%;
  max-width: 715px;
  height: 817px;
  object-fit: cover;
}
.drinks .drinks-section .vodka .vodka-items {
  margin: auto auto;
}
.drinks .drinks-section .vodka .vodka-items .list {
  grid-template-columns: 1fr;
  place-items: center;
}
.drinks .drinks-section .vodka .vodka-items .list .list-item {
  width: 330px;
}
.drinks .drinks-section .vodka .vodka-items .line-after-heading {
  margin-top: 20px;
}
.drinks .drinks-section .cognac {
  margin: 0 0 80px 0;
  display: flex;
}
.drinks .drinks-section .cognac img {
  width: 100%;
  max-width: 694px;
  height: 873px;
  object-fit: cover;
}
.drinks .drinks-section .cognac .cognac-items {
  margin: auto auto;
}
.drinks .drinks-section .cognac .cognac-items .list {
  grid-template-columns: 1fr;
  place-items: center;
}
.drinks .drinks-section .cognac .cognac-items .list .list-item {
  width: 330px;
}
.drinks .drinks-section .cognac .cognac-items .line-after-heading {
  margin-top: 20px;
}
.drinks .drinks-section .cognac .cognac-items .cognac-items-heading-contaiter {
  margin-bottom: 30px;
}
.drinks .drinks-section .whiteWine {
  margin: 0 0 80px 0;
  display: flex;
}
.drinks .drinks-section .whiteWine img {
  width: 100%;
  max-width: 763px;
  height: 763px;
  object-fit: cover;
}
.drinks .drinks-section .whiteWine .whiteWine-items {
  margin: auto auto;
}
.drinks .drinks-section .whiteWine .whiteWine-items .list {
  grid-template-columns: 1fr;
  place-items: center;
}
.drinks .drinks-section .whiteWine .whiteWine-items .list .list-item-with-description {
  width: 330px;
}
.drinks .drinks-section .whiteWine .whiteWine-items .line-after-heading {
  margin-top: 20px;
}
.drinks .drinks-section .whiteWine .whiteWine-items .whiteWine-heading .heading {
  position: absolute;
  left: 46%;
  transform: translateX(-45%);
}
.drinks .drinks-section .redWine {
  margin: 0 0 80px 0;
  display: flex;
}
.drinks .drinks-section .redWine img {
  width: 100%;
  max-width: 689px;
  height: 940px;
  object-fit: cover;
}
.drinks .drinks-section .redWine .redWine-items {
  margin: auto auto;
}
.drinks .drinks-section .redWine .redWine-items .list {
  grid-template-columns: 1fr;
  place-items: center;
}
.drinks .drinks-section .redWine .redWine-items .list .list-item-with-description {
  width: 330px;
}
.drinks .drinks-section .redWine .redWine-items .line-after-heading {
  margin-top: 20px;
}
.drinks .drinks-section .cava {
  margin: 0 0 80px 0;
  display: flex;
}
.drinks .drinks-section .cava img {
  width: 100%;
  max-width: 700px;
  height: 980px;
  object-fit: cover;
}
.drinks .drinks-section .cava .cava-items {
  margin: auto auto;
}
.drinks .drinks-section .cava .cava-items .list {
  grid-template-columns: 1fr;
  place-items: center;
}
.drinks .drinks-section .cava .cava-items .list .list-item-with-description {
  width: 330px;
}
.drinks .drinks-section .cava .cava-items .line-after-heading {
  margin-top: 20px;
}
.drinks .drinks-section .refreshings {
  margin: 0 0 80px 0;
  display: flex;
}
.drinks .drinks-section .refreshings img {
  width: 100%;
  max-width: 702px;
  height: 935px;
  object-fit: cover;
}
.drinks .drinks-section .refreshings .refreshings-items {
  margin: auto auto;
}
.drinks .drinks-section .refreshings .refreshings-items .line-after-heading {
  margin-top: 20px;
}

.drinks::before {
  content: "";
  display: block;
  height: 25vh;
  margin-top: -25vh;
  visibility: hidden;
  pointer-events: none;
}

.shishas {
  margin-bottom: 80px;
  position: relative;
}
.shishas .shisha {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  max-width: 330px;
  width: 330px;
  color: #555555;
  background-color: #FFFFFF;
  padding: 30px 0;
  border-radius: 20px;
}
.shishas .shisha .shisha-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  margin-right: 30px;
  margin-left: 30px;
  color: #000000;
}
.shishas .shisha .shisha-heading h6 {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  max-width: 211px;
}
.shishas .shisha .shisha-heading p {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
}
.shishas .shisha .tobacco {
  font-size: 14px;
  font-weight: 300;
  color: #666666;
  margin: 15px 0 0 0;
  margin-left: 30px;
  max-width: 250px;
  line-height: 250%;
}
.shishas .shisha hr {
  max-width: 270px;
  border: 1px solid #E3E3E3;
  margin: 20px auto;
}
.shishas .shisha .consist {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 10px;
  padding-left: 30px;
  max-width: 290px;
}
.shishas .shisha .consist p {
  font-size: 16px;
  font-weight: 500;
  background-color: rgba(227, 227, 227, 0.2156862745);
  max-width: fit-content;
  padding: 8px 10px 8px 10px;
  border-radius: 10px;
  margin: 0;
  line-height: 150%;
}
.shishas .shisha img {
  width: 269px;
  border-radius: 20px;
  margin-left: 30px;
  margin-top: 20px;
}
.shishas .shishas-section {
  margin-top: 100px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  column-gap: 100px;
  row-gap: 30px;
  align-items: flex-start;
}

.shishas::before {
  content: "";
  display: block;
  height: 25vh;
  margin-top: -25vh;
  visibility: hidden;
  pointer-events: none;
}

.cocktails {
  position: relative;
}
.cocktails .cocktails-section {
  margin-top: 100px;
}
.cocktails .cocktails-section .cocktails-drink {
  margin: 0 0 80px 0;
  display: flex;
}
.cocktails .cocktails-section .cocktails-drink img {
  width: 100%;
  max-width: 736px;
  height: 1082px;
  object-fit: cover;
}
.cocktails .cocktails-section .cocktails-drink .cocktails-drink-items {
  margin: auto auto;
}
.cocktails .cocktails-section .cocktails-drink .cocktails-drink-items .list {
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
.cocktails .cocktails-section .cocktails-drink .cocktails-drink-items .list .list-item-with-description {
  width: 330px;
}
.cocktails .cocktails-section .cocktails-drink .cocktails-drink-items .list .mojito10 {
  font-size: 11px;
}
.cocktails .cocktails-section .cocktails-drink .cocktails-drink-items .line-after-heading {
  margin-top: 20px;
}
.cocktails .cocktails-section .cocktailsWithoutAlco {
  margin: 0 0 100px 0;
  display: flex;
}
.cocktails .cocktails-section .cocktailsWithoutAlco img {
  width: 100%;
  max-width: 730px;
  height: 886px;
  object-fit: cover;
}
.cocktails .cocktails-section .cocktailsWithoutAlco .cocktailsWithoutAlco-items {
  margin: auto auto;
}
.cocktails .cocktails-section .cocktailsWithoutAlco .cocktailsWithoutAlco-items .list {
  grid-template-columns: 1fr;
  place-items: center;
}
.cocktails .cocktails-section .cocktailsWithoutAlco .cocktailsWithoutAlco-items .list .list-item-with-description {
  width: 330px;
}
.cocktails .cocktails-section .cocktailsWithoutAlco .cocktailsWithoutAlco-items .list .mojito10 {
  font-size: 11px;
}
.cocktails .cocktails-section .cocktailsWithoutAlco .cocktailsWithoutAlco-items .line-after-heading {
  margin-top: 20px;
}

.cocktails::before {
  content: "";
  display: block;
  height: 25vh;
  margin-top: -25vh;
  visibility: hidden;
  pointer-events: none;
}

.food {
  margin-bottom: 130px;
  position: relative;
}
.food .section-heading .section-heading-inner {
  border: 3px solid #FFFFFF;
}
.food .section-heading .menu-btn {
  text-decoration: none;
  color: #FFFFFF;
}
.food .section-heading .menu-btn .dowloadMenu {
  font-size: 30px;
  font-weight: normal;
  margin: 20px 0 23px 0;
}

.food::before {
  content: "";
  display: block;
  height: 25vh;
  margin-top: -25vh;
  visibility: hidden;
  pointer-events: none;
}

.contact {
  margin-bottom: 60px;
}
.contact .contactUsH2 {
  letter-spacing: 0.2rem;
}
.contact .contact-section {
  margin-top: 50px;
}
.contact .contact-section h3 {
  margin: 0 auto;
  max-width: fit-content;
  font-size: 36px;
  font-weight: 400;
}
.contact .contact-section .phoneNumbers {
  display: flex;
  justify-content: center;
  column-gap: 300px;
}
.contact .contact-section .phoneNumbers p {
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 0;
  font-family: "Inter", sans-serif;
}
.contact .contact-section .contact-line {
  width: 330px;
  display: none;
  background-color: #fff;
}
.contact .contact-section .mapContainer {
  display: flex;
  justify-content: center;
  column-gap: 260px;
  margin: 50px 0 100px 0;
}
.contact .contact-section .mapContainer .barName {
  font-size: 16px;
  font-weight: 400;
  max-width: fit-content;
  margin: 0 auto 25px auto;
}
.contact .contact-section .social .socialContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
}
.contact .contact-section .social .socialContainer p {
  font-size: 32px;
  font-weight: 400;
}
.contact .contact-section .social .socialContainer .insta {
  width: 120px;
}
.contact .contact-section .social .socialContainer .whatsapp {
  width: 120px;
}

.contact::before {
  content: "";
  display: block;
  height: 25vh;
  margin-top: -25vh;
  visibility: hidden;
  pointer-events: none;
}

.downfoot {
  display: none;
  width: 100%;
  align-items: end;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: #000000;
  z-index: 1000;
}
.downfoot a {
  text-decoration: none;
  color: #FFFFFF;
}
.downfoot .downfoot-card {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
}
.downfoot .downfoot-card img {
  object-fit: none;
}
.downfoot .downfoot-card .downfoot-cocktail {
  margin-right: 10px;
}
.downfoot .downfoot-card .downfoot-shisha {
  margin-left: 7px;
}
.downfoot .downfoot-card p {
  margin: 0;
}

/* MEDIA 1500 */
@media (max-width: 1500px) {
  .shots {
    flex-direction: column;
  }
  .shots img {
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .whiskey {
    flex-direction: column;
  }
  .whiskey img {
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .whiskey .whiskey-items {
    order: 1;
  }
  .beer {
    flex-direction: column;
  }
  .beer img {
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .gin-tonic {
    flex-direction: column;
  }
  .gin-tonic img {
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .gin-tonic .gin-tonic-items {
    order: 1;
  }
  .rum {
    flex-direction: column;
  }
  .rum img {
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .vodka {
    flex-direction: column;
  }
  .vodka img {
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .vodka .vodka-items {
    order: 1;
  }
  .cognac {
    flex-direction: column;
  }
  .cognac img {
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .whiteWine {
    flex-direction: column;
  }
  .whiteWine img {
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .whiteWine .whiteWine-items {
    order: 1;
  }
  .redWine {
    flex-direction: column;
  }
  .redWine img {
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .cava {
    flex-direction: column;
  }
  .cava img {
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .cava .cava-items {
    order: 1;
  }
  .refreshings {
    flex-direction: column;
  }
  .refreshings img {
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .cocktails-drink {
    flex-direction: column;
  }
  .cocktails-drink img {
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .cocktailsWithoutAlco {
    flex-direction: column;
  }
  .cocktailsWithoutAlco img {
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .cocktailsWithoutAlco .cocktailsWithoutAlco-items {
    order: 1;
  }
}
/* MEDIA 1125 */
@media (max-width: 1125px) {
  header {
    position: relative;
  }
  header .header-inner .nav-desktop ul li {
    display: none;
  }
  header .header-inner .burger-menu {
    display: flex;
  }
  .drinks .drinks-heading .drinks-heading-inner {
    padding: 25px 255px;
  }
  .contact {
    margin-bottom: 0;
  }
  .contact .contact-section .contact-line {
    display: block;
    margin: 50px auto 50px auto;
  }
  .contact .contact-section .last-line {
    margin-bottom: 0;
  }
  .contact .contact-section h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .contact .contact-section .phoneNumbers {
    flex-direction: column;
    margin: 0 auto;
    max-width: fit-content;
  }
  .contact .contact-section .phoneNumbers p {
    font-size: 22px;
  }
  .contact .contact-section .mapContainer {
    flex-direction: column;
    margin: 0 auto;
    max-width: fit-content;
  }
  .contact .contact-section .mapContainer .new {
    margin-top: 50px;
  }
  .contact .contact-section .social .socialContainer {
    column-gap: 20px;
  }
  .contact .contact-section .social .socialContainer p {
    font-size: 16px;
  }
  .contact .contact-section .social .socialContainer .insta {
    width: 48px;
  }
  .contact .contact-section .social .socialContainer .whatsapp {
    width: 48px;
  }
  .downfoot {
    display: flex;
    position: sticky;
    bottom: 0;
    column-gap: 70px;
  }
}
/* MEDIA 830 */
@media (max-width: 830px) {
  .container {
    max-width: 330px;
    padding: 0;
  }
  .container1 {
    max-width: 330px;
  }
  .heading {
    font-size: 22px;
    text-align: start;
  }
  .line-after-heading {
    width: 330px;
    margin-top: 20px;
  }
  .list {
    grid-template-columns: 1fr;
    margin: 20px auto 0 auto;
  }
  .list-item h5 {
    font-size: 16px;
  }
  .list-item p {
    font-size: 16px;
  }
  .list-item-with-description .list-item-description-inner h5 {
    font-size: 16px;
  }
  .list-item-with-description .list-item-description-inner p {
    font-size: 16px;
  }
  .list-item-with-description p {
    font-size: 14px;
  }
  .items-heading-contaiter {
    align-items: end;
    position: initial;
  }
  .items-heading-contaiter .heading {
    position: initial;
    transform: none;
  }
  .items-heading-contaiter .quantity {
    font-size: 16px;
  }
  header .header-inner .logo {
    width: 120px;
    height: 36px;
  }
  header .mobile-menu {
    margin-bottom: 0;
    text-align: start;
  }
  header .mobile-menu li {
    font-size: 28px;
  }
  .section-heading .section-heading-inner {
    padding: 13px 68px;
    border: 1px solid #FFFFFF;
  }
  .section-heading .section-heading-inner h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
  }
  .section-heading .section-heading-inner p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 14px;
  }
  .drinks {
    margin-top: 20px;
  }
  .drinks .drinks-section .shots {
    margin: 50px 0 30px 0;
  }
  .drinks .drinks-section .shots img {
    width: 100%;
    max-width: 330px;
    height: 221px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  .drinks .drinks-section .shots .shots-items {
    margin: auto auto;
  }
  .drinks .drinks-section .shots .shots-items .rosado {
    font-size: 16px;
  }
  .drinks .drinks-section .whiskey {
    margin: 0 0 50px 0;
    display: flex;
    justify-content: end;
  }
  .drinks .drinks-section .whiskey img {
    width: 100%;
    max-width: 330px;
    height: 382px;
    object-fit: cover;
    overflow: hidden;
  }
  .drinks .drinks-section .whiskey .whiskey-items {
    margin: auto auto;
  }
  .drinks .drinks-section .beer {
    margin: 0 0 50px 0;
  }
  .drinks .drinks-section .beer img {
    width: 100%;
    max-width: 330px;
    height: 437px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  .drinks .drinks-section .beer .beer-items {
    margin: auto auto;
  }
  .drinks .drinks-section .gin-tonic {
    margin: 0 0 50px 0;
    display: flex;
    justify-content: end;
  }
  .drinks .drinks-section .gin-tonic img {
    width: 100%;
    max-width: 330px;
    height: 382px;
    object-fit: cover;
    overflow: hidden;
  }
  .drinks .drinks-section .gin-tonic .gin-tonic-items {
    margin: auto auto;
  }
  .drinks .drinks-section .rum {
    margin: 0 0 50px 0;
  }
  .drinks .drinks-section .rum img {
    width: 100%;
    max-width: 330px;
    height: 437px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  .drinks .drinks-section .rum .rum-items {
    margin: auto auto;
  }
  .drinks .drinks-section .vodka {
    margin: 0 0 50px 0;
    display: flex;
    justify-content: end;
  }
  .drinks .drinks-section .vodka img {
    width: 100%;
    max-width: 330px;
    height: 250px;
    object-fit: cover;
    overflow: hidden;
  }
  .drinks .drinks-section .vodka .vodka-items {
    margin: auto auto;
  }
  .drinks .drinks-section .cognac {
    margin: 0 0 50px 0;
  }
  .drinks .drinks-section .cognac img {
    width: 100%;
    max-width: 330px;
    height: 451px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  .drinks .drinks-section .cognac .cognac-items {
    margin: auto auto;
  }
  .drinks .drinks-section .cognac .cognac-items .cognac-items-heading-contaiter {
    margin-bottom: 10px;
  }
  .drinks .drinks-section .whiteWine {
    margin: 0 0 50px 0;
    display: flex;
    justify-content: end;
  }
  .drinks .drinks-section .whiteWine img {
    width: 100%;
    max-width: 330px;
    height: 477px;
    object-fit: cover;
    overflow: hidden;
  }
  .drinks .drinks-section .whiteWine .whiteWine-items {
    margin: auto auto;
  }
  .drinks .drinks-section .whiteWine .whiteWine-items .whiteWine-heading .heading {
    position: initial;
    transform: none;
  }
  .drinks .drinks-section .redWine {
    margin: 0 0 50px 0;
    display: flex;
    justify-content: end;
  }
  .drinks .drinks-section .redWine img {
    width: 100%;
    max-width: 330px;
    height: 449px;
    object-fit: cover;
    overflow: hidden;
  }
  .drinks .drinks-section .redWine .redWine-items {
    margin: auto auto;
  }
  .drinks .drinks-section .cava {
    margin: 0 0 50px 0;
    display: flex;
    justify-content: end;
  }
  .drinks .drinks-section .cava img {
    width: 100%;
    max-width: 330px;
    height: 461px;
    object-fit: cover;
    overflow: hidden;
  }
  .drinks .drinks-section .cava .redWine-items {
    margin: auto auto;
  }
  .drinks .drinks-section .refreshings {
    margin: 0 0 50px 0;
    display: flex;
    justify-content: end;
  }
  .drinks .drinks-section .refreshings img {
    width: 100%;
    max-width: 330px;
    height: 449px;
    object-fit: cover;
    overflow: hidden;
  }
  .drinks .drinks-section .refreshings .refreshings-items {
    margin: auto auto;
  }
  .shishas .shishas-section {
    margin-top: 50px;
  }
  .cocktails {
    margin-top: 20px;
  }
  .cocktails .cocktails-section {
    margin-top: 50px;
  }
  .cocktails .cocktails-section .cocktails-drink {
    margin: 0 0 50px 0;
    display: flex;
    justify-content: end;
  }
  .cocktails .cocktails-section .cocktails-drink img {
    width: 100%;
    max-width: 330px;
    height: 259px;
    object-fit: cover;
    overflow: hidden;
  }
  .cocktails .cocktails-section .cocktails-drink .cocktails-drink-items {
    margin: auto auto;
  }
  .cocktails .cocktails-section .cocktails-drink .cocktails-drink-items .list {
    grid-template-columns: 1fr;
  }
  .cocktails .cocktails-section .cocktailsWithoutAlco {
    margin: 0 0 50px 0;
    display: flex;
    justify-content: end;
  }
  .cocktails .cocktails-section .cocktailsWithoutAlco img {
    width: 100%;
    max-width: 330px;
    height: 400px;
    object-fit: cover;
    overflow: hidden;
  }
  .cocktails .cocktails-section .cocktailsWithoutAlco .cocktails-drink-items {
    margin: auto auto;
  }
  .downfoot {
    position: sticky;
    bottom: 0;
    column-gap: 17px;
  }
}

/*# sourceMappingURL=styles.css.map */
